name: fire when tagged
on:
  push:
    tags:
      - '*'

jobs:
  we-b-tagged:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}
      - id: get-latest-tag
        run: |
          latestTag=$(git describe --abbrev=0 --tags)
          echo "::notice::The latest tag should be ${latestTag}"
          echo "latest_tag=${latestTag}" >> $GITHUB_OUTPUT
      - if: ${{ github.ref_name }}  == ${{ steps.get-latest-tag.outputs.latest_tag }}
        run: |
          echo "::notice::The latest tag ${{ steps.get-latest-tag.outputs.latest_tag }} is equal to the trigger tag ${{ github.ref_name }}
      

