name: Push to platform when tagged
on:
  push:
    tags:
      - '*'
    branches:
      - main
      - master
jobs:
  should-we-push:
    runs-on: ubuntu-latest
    outputs:
      push: ${{ steps.do-push.outputs.push }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}
      - id: get-latest-tag
        run: |
          latestTag=$(git describe --abbrev=0 --tags)
          echo "::notice::The latest tag should be ${latestTag}"
          echo "latest_tag=${latestTag}" >> $GITHUB_OUTPUT
      - id: do-push
        run: |
          push="false"
          if [[ "${{ github.ref_name }}" = "${{ steps.get-latest-tag.outputs.latest_tag }}" ]]; then
            echo "::notice::We have a new tag to push to platform"
            push="true"          
          fi
          echo "push=${push}" >> $GITHUB_OUTPUT
  we-should-push:
    runs-on: ubuntu-latest
    needs: should-we-push
    env:
      PLATFORMSH_CLI_TOKEN: ${{ secrets.PSH_TOKEN }}
    if: needs.should-we-push.outputs.push == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          echo "setting up the platform.sh cli"
          curl -fsSL https://raw.githubusercontent.com/platformsh/cli/main/installer.sh | bash
      - run: |
          echo "setting the remote project"
          platform project:set-remote "${{ secrets.PROJID }}"
      - run: |
          echo "set up a new ssh cert"
          platform ssh-cert:load --new --no-interaction
      - run: |
          pshWholeGitAddress=$(git remote get-url platform --push)
          pshGitAddress=$(TMP=${pshWholeGitAddress#*@};echo ${TMP%:*})
          echo "Adding psh git address ${pshGitAddress} to known hosts"
          ssh-keyscan -t rsa "${pshGitAddress}" >> ~/.ssh/known_hosts
      - run: |
          echo "Pushing tag ${{ github.ref_name }} to platform..."
          pshDefaultBranch=$(platform project:info default_branch)
          git push platform refs/tags/${{ github.ref_name }}^{commit}:refs/heads/${pshDefaultBranch}

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true

